mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Каталог"
      },
     {
        href: "#",
        text: "Подобрать средство",
        isAccent: true,
        list: [
          { 
            title: "Область", 
            href: "#",
            sublist: [
              { title: "Лицо", href: "#" },
              { title: "Руки", href: "#" }
            ]
          },
          { 
            title: "Потребность кожи", 
            href: "#" 
          },
          { 
            title: "Проблемы", 
            href: "#" 
          },
          { 
            title: "Типы средств", 
            href: "#" 
          },
          { 
            title: "Ключевые компоненты", 
            href: "#" 
          }
        ]
      },
      {
        href: "#",
        text: "Коллекции"
      },
      {
        href: "#",
        text: "Наука о коже"
      },
      {
        href: "#",
        text: "Почему atovee?",
        isAccent: true,
        list: [
          {
            title: "Science-driven skincare",
            href: "#"
          },
          {
            title: "Технология EMoist",
            href: "#"
          },
          {
            title: "Ключевые компоненты",
            href: "#",
            sublist: [
              { title: "Масло Ши", href: "#" },
              { title: "Церамиды", href: "#" },
              { title: "Мочевина", href: "#" }
            ]
          }
        ]
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods data-header)
    .container
      .header__wrapper
        .header__top
          a.header__logo(href="index.html", aria-label="Переход на главную")
            img(src="img/sprite/logo.svg" width="153" height="61" alt="Лого")
          .header__icons 
            button(type="button").header__btn
              img(src="img/sprite/zoom.svg" width="30" height="30" alt="Лого")
            button(type="button").header__btn
              img(src="img/content/heart.png" width="30" height="30" alt="Лого")
            button(type="button").header__btn
              img(src="img/sprite/user.svg" width="30" height="30" alt="Лого")
            button(type="button").header__btn
              img(src="img/sprite/bag.svg" width="30" height="30" alt="Лого")
        .header__bottom

          nav.main-nav
            button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
              span
              span
              span
            ul.main-nav__list
              each item in headerLinks
                li(class=(item.isAccent ? "main-nav__item main-nav__item--accent" : 'main-nav__item'))
                  a.main-nav__link(href=item.href)
                    p #{item.text}
                  if item.isAccent
                  if item.list 
                    ul.main-nav__sub-list
                      if item.list
                        .main-nav__sub-content
                          each i in item.list
                            li
                              a(href=i.href) #{i.title}
                              if i.sublist
                                ul.main-nav__bottom-list
                                  each j in i.sublist
                                    li.main-nav__bottom-item
                                      a(href=j.href) #{j.title}